<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
  </head>
  <body>
    <article>
      <h2>{{ post.idea_Title }}</h2>
      <p>1) 아이디어 관심도 : {{post.idea_Interest}}</p>
      <p>2) 예상 개발툴 : {{post.idea_Devtool}}</p>
      <p>3) 아이디어 설명 : {{post.idea_Content}}</p>
    </article>

    <div>
      <a href="/update/{{post.id}}">수정</a>
    </div>
    <div>
      <a href="/">목록</a>
    </div>
    <form action="{% url 'posts:delete' post.id %}" method="post">
      {% csrf_token %}
      <button>삭제</button>
    </form>
  </body>
</html>
